<div id="secondbar">
  <div class="container">
    <div class="row">
      <div class="span5">
        <div class="icon">
            <a href="{{baseURL}}"><img src="{{baseURL}}static/img/logo.png"/></a>
        </div>
      </div>
      <div class="span10">


      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row app_top">
      <div id="details_sidebar" class="span5">
          <img src="{{baseURL}}_db/{{id}}/{{icon_96}}" width="96" style="float: left"/>
          <h2>{{title}}</h2>
          <div class="author">
              By <a href="{{baseURL}}user/{{meta.pushed_by}}">{{meta.pushed_by}}</a>
          </div>
          <div style="clear: both"></div>

          <h4>{{meta.config.description}}</h4>
          <div class="install_msg"></div>
          <ol>
              <li><span class="current">Select Installation Location</span>
                    <ol class="sub">
                        <li>Signup/Login</li>
                    </ol>
              </li>
              <li>Confirm And Complete</li>
          </ol>
      </div>

      <div class="span10 install_where">

          <h1>1. Select Installation Location</h1>
          <table class="table zebra-striped">

              <tbody>


              </tbody>
          </table>

          <div class="advanced">
              <a href="http://garden20.com/get" target="_blank">Get your own Garden</a><br/>
              [<a href="#" class="advanced-toggle">Show Advanced Locations</a>]
          </div>
          <a href="../{{id}}">Prev</a>
          <a href="#" class="btn large primary next">Next</a>
          <h3 class="please-wait" style="display: none;">Please wait...</h3>

      </div>
    </div>
  </div>
</div>
