<div id="secondbar" class="app_details">
  <div class="container">
    <div class="row">
      <div class="span2">
        <img src="{{baseURL}}_db/{{id}}/{{icon_96}}" width="96" />
      </div>
      <div class="span9">
        <h1>{{title}}</h1>
        <span class="author">
          By <a href="{{baseURL}}user/{{meta.pushed_by}}">{{meta.pushed_by}}</a>
        </span>


      </div>
      <div class="span4 install_actions">
            <a href="{{baseURL}}">&larr; Back to app listings</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span11">

        <div id="screenshot_container">
            <div class="paper">
                <div class="paper-inner">
                    <div id="myCarousel" class="carousel slide" data-interval="">
                      <!-- Carousel items -->
                      <div class="carousel-inner">

                        {{#each screenshots}}
                            <div class="item {{#if active}}active{{/if}}">
                                <img src="{{src}}" />
                            </div>
                        {{/each}}

                      </div>
                      <!-- Carousel nav -->
                      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>

                    <div class="loading">Loading&hellip;</div>
                </div>
            </div>
        </div>
      </div>

      <div id="details_sidebar" class="span5">
        <h4>{{meta.config.description}}</h4>
        <a class="btn large primary" href="{{baseURL}}details/{{id}}/install">Install</a>

        {{#each long_description_paragraphs}}
          <p>{{this}}</p>
        {{/each}}
        <table class="">
            <tbody class="info_table">
                {{#if meta.config.url}}
                  <tr>
                      <th>Website</th>
                      <td><a href="{{meta.config.url}}">{{meta.config.url}}</a></td>
                  </tr>
                {{/if}}
                {{#if flattr_link}}
                  <tr>
                      <th>Donate</th>
                      <td>{{{flattr_link}}}</td>
                  </tr>
                {{/if}}
                <tr>
                    <th>Version</th>
                    <td><b>{{meta.config.version}}</b> last updated {{updated}}</td>
                </tr>
                <tr>
                    <th>Categories</th>
                    <td class="categories">
                      {{#each meta.config.categories}}
                        <a class="tag" href="{{baseURL}}category/{{this}}">{{this}}</a>
                      {{/each}}
                    </td>
                </tr>

            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
