<tr>
    <th>Github</th>
    <td><a href="{{html_url}}/stargazers"> {{watchers}} watchers</a></td>
</tr>
<tr>
    <th>Owner</th>
    <td>
        <img src="{{owner.avatar_url}}" />
        <br/>
        {{owner.login}}
    </td>
</tr>
{{#if has_issues}}
<tr>
        <th>Issues</th>
        <td><a href="{{html_url}}/issues">Tracker</a> - {{open_issues_count}} issues</td>
</tr>
{{/if}}
{{#if git_commit}}
<tr>
    <th>Tag</th>
    <td><a href="{{html_url}}/tree/{{git_commit}}">{{git_commit_small}}</a></td>
</tr>
{{/if}}

