<div id="secondbar">
  <div class="container">
    <div class="row">
      <div class="span5">
        <div class="icon">
            <a href="{{baseURL}}"><img src="static/img/logo.png"/></a>
        </div>
      </div>
      <div class="span10">
          <form class="search" action="{{baseURL}}search">
              <input type="text" name="q" placeholder="Search" />
              <button class="btn">&rang;</button>
          </form>

      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <div class="row">

      <div class="span12 main-section">
        {{{include "app_list.html"}}}
      </div>

      <div id="sidebar" class="span4">
        <ul class="menu">
          <li class="active"><a href="{{baseURL}}">Home</a></li>
          <li><a href="{{baseURL}}upload_app">Upload app</a></li>
        </ul>
        <ul id="categories" class="menu">
          <li><a href="{{baseURL}}all">All</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>
