{{#each dashboard_urls}}
<tr>
    <td class="radio">
        <input type="radio" name="install" value="{{url}}"/>
    </td>
    <td class="type_td">
        {{#if img}}
          <img src="{{img}}"/>
        {{else}}
          <img src="{{../baseURL}}/static/img/install_to_dashboard.png"  alt="{{type}}"/>
        {{/if}}
        <div class="type">{{type}}</div>
    </td>
    <td>
        <div class="name">
        {{#if other}}
            <input type="text" name="other-url" id="other-url" placeholder="{{name}}" class="span7"/>
        {{else}}
                {{name}}
        {{/if}}
        </div>
    </td>
</tr>
{{/each}}
